@page
@model Superhero_Project.Views.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Superhero</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Superhero.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superhero.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Superhero.AlterEgo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superhero.AlterEgo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Superhero.PrimaryAbility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superhero.PrimaryAbility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Superhero.SecondaryAbility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superhero.SecondaryAbility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Superhero.Catchphrase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superhero.Catchphrase)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Superhero.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
